@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}
.qa-chart {
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 0;
  background: #EDEFF4;
  width: 201px;
  height: 40px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px 0 0 0;
  overflow: hidden;
  transition: 0.2s;
  transform-origin: bottom right;
}
.qa-chart .chart-qa-ttl {
  font-size: 13px;
  line-height: 40px;
  height: 40px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  background: #233B6C;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.qa-chart .chart-qa-ttl > svg {
  width: 18px;
  fill: #fff;
  margin-right: 10px;
}
.qa-chart .chart-qa-ttl:before {
  content: "+";
  text-align: center;
  line-height: 19px;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border-radius: 2px;
}
.qa-chart .chart-message {
  min-height: 497px;
  max-height: 497px;
  overflow: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.qa-chart .chart-message .chart-list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 20px;
}
.qa-chart .chart-message .chart-list li {
  list-style: none;
}
.qa-chart .chart-message .chart-list > li {
  font-size: 13px;
  margin-bottom: 20px;
}
.qa-chart .chart-message .chart-list > li:last-child {
  margin-bottom: 0;
}
.qa-chart .chart-message .chart-list > li.left-chart {
  text-align: left;
}
.qa-chart .chart-message .chart-list > li.left-chart .text-chart {
  background: #f9f9f9;
  white-space: break-spaces;
}
.qa-chart .chart-message .chart-list > li.left-chart .text-chart:before {
  background: #f9f9f9;
  left: -8px;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
          clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
.qa-chart .chart-message .chart-list > li.right-chart {
  text-align: right;
}
.qa-chart .chart-message .chart-list > li.right-chart .text-chart {
  color: #fff;
  background: #24488e;
}
.qa-chart .chart-message .chart-list > li.right-chart .text-chart:before {
  background: #24488e;
  right: -8px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.qa-chart .chart-message .chart-list > li .robot-loading-field .circle {
  width: 10px;
  height: 10px;
  background-color: #233B6C;
  border-radius: 50%;
  display: inline-block;
}
.qa-chart .chart-message .chart-list > li .robot-loading-field .circle:nth-of-type(1) {
  animation: pulse 0.4s ease 0s infinite alternate;
}
.qa-chart .chart-message .chart-list > li .robot-loading-field .circle:nth-of-type(2) {
  animation: pulse 0.4s ease 0.2s infinite alternate;
  margin: 0 3px;
}
.qa-chart .chart-message .chart-list > li .robot-loading-field .circle:nth-of-type(3) {
  animation: pulse 0.4s ease 0.4s infinite alternate;
}
.qa-chart .chart-message .chart-list > li .text-chart {
  text-align: left;
  display: inline-block;
  max-width: 85%;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.16));
}
.qa-chart .chart-message .chart-list > li .text-chart:before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 5px;
}
.qa-chart .chart-message .chart-list > li .text-chart .choice-box {
  margin-top: 10px;
  padding: 0;
}
.qa-chart .chart-message .chart-list > li .text-chart .choice-box > * + * {
  margin-top: 5px;
}
.qa-chart .chart-message .chart-list > li .text-chart .choice-box > li > button {
  font-size: 12px;
  line-height: 1.4;
  width: 100%;
  border: 0;
  background: #fff;
  cursor: pointer;
  transition: 0.3s;
  color: #3A4B60;
  border: 1px solid #3A4B60;
  border-radius: 3px;
  padding: 8px 15px;
}
.qa-chart .chart-message .chart-list > li .text-chart .choice-box > li > button > br {
  display: none;
}
.qa-chart .chart-message .chart-list > li .text-chart .choice-box > li > button:hover {
  background: #3A4B60;
  color: #fff;
}
.qa-chart .chart-message .chart-list > li .text-chart .choice-box > li > button:disabled {
  pointer-events: none;
  color: rgba(58, 75, 96, 0.3);
  border: 1px solid rgba(58, 75, 96, 0.3);
}
.qa-chart .chart-message .chart-list > li .text-chart a {
  color: inherit;
}
.qa-chart .chart-message .chart-list > li .text-chart a:hover {
  text-decoration: none;
}
.qa-chart .chart-message .chart-list > li .text-chart a[href^="#"] {
  text-decoration: none;
  pointer-events: none;
}
@media only screen and (min-width: 897px) {
  .qa-chart .chart-message .chart-list > li .text-chart a[href^="tel:"] {
    text-decoration: none;
    pointer-events: none;
  }
}
.qa-chart .chart-message .chart-list > li .text-chart.-btn {
  display: block;
}
.qa-chart .chart-message .chart-list > li .text-chart.-btn > .back-btn {
  font-size: 12px;
  width: 100%;
  border: 0;
  background: #fff;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
  color: #3A4B60;
  border: 1px solid #3A4B60;
  padding: 8px 20px;
  border-radius: 3px;
}
.qa-chart .chart-message .chart-list > li .text-chart.-btn > .back-btn:disabled {
  pointer-events: none;
  color: rgba(58, 75, 96, 0.3);
  border: 1px solid rgba(58, 75, 96, 0.3);
}
.qa-chart .chart-message .chart-list > li .text-chart.-btn > .back-btn:hover {
  color: #fff;
  background: #3A4B60;
}
.qa-chart .chart-message::-webkit-scrollbar {
  width: 12px;
  background: rgba(255, 255, 255, 0);
}
.qa-chart .chart-message::-webkit-scrollbar-thumb {
  background: #233B6C;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  background-clip: padding-box;
}
.qa-chart .chart-message::-webkit-scrollbar-track {
  margin: 5px;
}
.qa-chart .chart-search-box {
  border-top: 1px solid #d3d3d3;
  box-sizing: border-box;
  display: flex;
}
.qa-chart .chart-search-box > input {
  width: calc(100% - 70px);
  height: 35px;
  border: 0;
  padding: 0;
  margin: 0;
  padding: 0 15px;
  outline: none;
}
.qa-chart .chart-search-box > .chartsearch-btn {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  background: #233B6C;
  border: 0;
  width: 70px;
  height: 35px;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;
}
.qa-chart .chart-search-box > .chartsearch-btn:hover {
  opacity: 0.7;
}
.qa-chart.-open {
  width: 350px;
  height: 575px;
}
.qa-chart.-open:hover {
  transform: scale(1);
}
.qa-chart.-open > .chart-qa-ttl:before {
  content: "-";
}
@media only screen and (min-width: 897px) {
  .qa-chart:hover {
    transform: scale(1.1);
  }
}
@media only screen and (max-width: 896px) {
  .qa-chart {
    width: 170px;
    bottom: 0;
  }
  .qa-chart > .chart-qa-ttl {
    font-size: 14px;
  }
  .qa-chart > .chart-qa-ttl > svg {
    width: 13px;
    margin-right: 5px;
  }
  .qa-chart > .chart-qa-ttl:before {
    width: 15px;
    height: 15px;
    line-height: 13px;
    font-size: 10px;
  }
  .qa-chart .chart-message {
    min-height: 399px;
    max-height: 399px;
  }
  .qa-chart .chart-message > .chart-list > li .text-chart {
    max-width: 80%;
  }
  .qa-chart.-open {
    width: 90%;
    max-width: 300px;
    height: 475px;
  }
}/*# sourceMappingURL=chartqa.css.map */
